In [3]:
import pandas as pd
import scipy.stats as stats
from math import sqrt

In [4]:
a = pd.read_csv('./datasets/supplement/trees.csv')

In [5]:
X = a['Height'].mean()
round(X, 2)

76.0

In [6]:
stats.ttest_1samp(a['Height'], 75)

TtestResult(statistic=0.8738116490580545, pvalue=0.38916223357338076, df=30)

In [7]:
t_score, p_value = stats.ttest_1samp(a['Height'], 75)
round(t_score, 2)

0.87

In [8]:
if p_value >= 0.05:
    print('accept')
else:
    print('reject')

accept

In [9]:
a = pd.read_csv('./datasets/supplement/toothgrowth.csv')

In [10]:
stats.levene(a.loc[a.supp=='VC', 'len'], a.loc[a.supp=='OJ', 'len'])

LeveneResult(statistic=1.2135720656945064, pvalue=0.2751764616144052)

In [11]:
VC_a = a.loc[a.supp=='VC']
OJ_a = a.loc[a.supp=='OJ']

VC_X = VC_a['len'].mean()
OJ_X = OJ_a['len'].mean()

(round(VC_X, 2), round(OJ_X, 2))

(16.96, 20.66)

In [12]:
stats.ttest_ind(VC_a['len'], OJ_a['len'], equal_var=True)

Ttest_indResult(statistic=-1.91526826869527, pvalue=0.06039337122412848)

In [13]:
a = pd.read_csv('./datasets/supplement/insectsprays.csv')

In [15]:
diff = a['after_spr'] - a['before_spr']
m_d = diff.mean()

round(m_d, 2)

-12.0

In [16]:
stats.ttest_rel(a['before_spr'], a['after_spr'], alternative='greater')

TtestResult(statistic=14.893263274163433, pvalue=5.113978478699233e-17, df=35)

In [17]:
data = pd.read_csv('./datasets/supplement/iris.csv')

In [18]:
result = data.loc[data['species']=='versicolor', 'sepal_width'].mean()
result

2.7700000000000005

In [19]:
X1 = data.loc[data['species']=='setosa', 'sepal_width']
X2 = data.loc[data['species']=='versicolor', 'sepal_width']
X3 = data.loc[data['species']=='virginica', 'sepal_width']

test_result = stats.f_oneway(X1, X2, X3)
test_result

F_onewayResult(statistic=49.160040089612075, pvalue=4.49201713330911e-17)

In [20]:
data = pd.read_csv('./datasets/supplement/cellphone.csv')

In [21]:
count_df = data.groupby('제조사').count()
count_df

      id
제조사
기타     5
삼성   117
애플    78

In [22]:
result = count_df.loc['삼성', 'id'] - count_df.loc['애플', 'id']
result

39

In [23]:
total_sum = len(data)
expected = [int(total_sum*0.1), int(total_sum * 0.6), int(total_sum * 0.3)]

expected

[20, 120, 60]

In [25]:
observed = count_df['id'].values
test_result = stats.chisquare(observed, f_exp=expected)

test_result

Power_divergenceResult(statistic=16.725, pvalue=0.00023345995371416804)

In [26]:
data = pd.read_csv('./datasets/supplement/student.csv')

In [27]:
table = pd.crosstab(data['단과대학'], data['수강 과목 수'])
table

수강 과목 수  4개 이하  5개  6개 이상
단과대학
경영대학        12  78     30
공과대학        30  42     28
자연대학        30  42      8

In [28]:
result = table[table['6개 이상'] == table['6개 이상'].max()].index[0]
result

'경영대학'

In [30]:
X1 = table.loc['경영대학', :]
X2 = table.loc['자연대학', :]
X3 = table.loc['공과대학', :]

test_result = stats.chi2_contingency([X1, X2, X3])
test_result

Chi2ContingencyResult(statistic=30.127525252525256, pvalue=4.6103966676496775e-06, dof=4, expected_freq=array([[28.8, 64.8, 26.4],
       [19.2, 43.2, 17.6],
       [24. , 54. , 22. ]]))

In [33]:
a = pd.read_csv('./datasets/supplement/airquality.csv')

X = a['Wind'].mean()

X

9.957516339869281

In [34]:
stats.ttest_1samp(a['Wind'], 10)

TtestResult(statistic=-0.14916084375481536, pvalue=0.8816244365863931, df=152)

In [35]:
a = pd.read_csv('./datasets/supplement/chickweight.csv')

In [37]:
X1 = a[a['Diet'] == 1]
X4 = a[a['Diet'] == 4]

stats.ttest_ind(X1['weight'], X4['weight'], equal_var=False)

Ttest_indResult(statistic=-4.408617537317293, pvalue=1.6845952556802396e-05)

In [39]:
a = pd.read_csv('./datasets/supplement/StudentsPerformance1.csv', encoding='cp949')

In [40]:
a.groupby('인종').mean()

                 ID      수학 점수      읽기 점수      쓰기 점수
인종
A그룹      524.089888  61.629213  64.674157  62.674157
B그룹      474.768421  63.452632  67.352632  65.600000
C그룹      494.163009  64.463950  69.103448  67.827586
D그룹      505.973282  67.362595  70.030534  70.145038
group E  524.621429  73.821429  73.028571  71.407143

In [42]:
X_A = a[a['인종'] == 'A그룹']
X_B = a[a['인종'] == 'B그룹']
X_C = a[a['인종'] == 'C그룹']
X_D = a[a['인종'] == 'D그룹']

stats.f_oneway(X_A['수학 점수'], X_B['수학 점수'], X_C['수학 점수'], X_D['수학 점수'])

F_onewayResult(statistic=4.6599225222506835, pvalue=0.0030804403240573554)

In [43]:
a = pd.read_csv('./datasets/supplement/StudentsPerformance2.csv', encoding='cp949')

In [45]:
table = pd.crosstab(a['성별'], a['학업 성적'])

In [47]:
X1 = table.loc['남성', :]
X2 = table.loc['여성', :]

In [48]:
stats.chi2_contingency([X1, X2])

Chi2ContingencyResult(statistic=12.4115784293196, pvalue=0.0020177157693633684, dof=2, expected_freq=array([[ 95.436, 287.272,  99.292],
       [102.564, 308.728, 106.708]]))