<a href="https://colab.research.google.com/github/AnalyticsKnight/yemoonsaBigdata/blob/dev/src/P3_C1_PythonExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 1. 빅데이터분석기사 2회**

## 1. 필답형

## 2. 작업형 제1유형

#### 000 소스 및 데이터 동기화

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 538, done.
remote: Counting objects: 100% (175/175), done.
remote: Compressing objects: 100% (131/131), done.
remote: Total 538 (delta 90), reused 49 (delta 44), pack-reused 363
Receiving objects: 100% (538/538), 10.63 MiB | 11.84 MiB/s, done.
Resolving deltas: 100% (275/275), done.

### (1) 첫번째 문제

#### 121-01 데이터 불러오기

In [1]:
import pandas as pd

df = pd.read_csv("../datasets/Part3/201_boston.csv")
print(df.head(5))

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0

   PTRATIO       B  LSTAT
0     15.3  396.90   4.98
1     17.8  396.90   9.14
2     17.8  392.83   4.03
3     18.7  394.63   2.94
4     18.7  396.90   5.33

In [4]:
temp = df.sort_values('CRIM', ascending=False)

In [6]:
temp.iloc[:10] = temp.iloc[9]

In [9]:
temp[temp['AGE'] >= 80]['CRIM'].mean()

5.843126099585063

#### 121-02 내림차순 정렬하기

In [ ]:
df = df.sort_values(by='CRIM', ascending=False)
print(df.head(12))

        CRIM   ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
380  88.9762  0.0   18.1   0.0  0.671  6.968   91.9  1.4165  24.0  666.0
418  73.5341  0.0   18.1   0.0  0.679  5.957  100.0  1.8026  24.0  666.0
405  67.9208  0.0   18.1   0.0  0.693  5.683  100.0  1.4254  24.0  666.0
410  51.1358  0.0   18.1   0.0  0.597  5.757  100.0  1.4130  24.0  666.0
414  45.7461  0.0   18.1   0.0  0.693  4.519  100.0  1.6582  24.0  666.0
404  41.5292  0.0   18.1   0.0  0.693  5.531   85.4  1.6074  24.0  666.0
398  38.3518  0.0   18.1   0.0  0.693  5.453  100.0  1.4896  24.0  666.0
427  37.6619  0.0   18.1   0.0  0.679  6.202   78.7  1.8629  24.0  666.0
413  28.6558  0.0   18.1   0.0  0.597  5.155  100.0  1.5894  24.0  666.0
417  25.9406  0.0   18.1   0.0  0.679  5.304   89.1  1.6475  24.0  666.0
400  25.0461  0.0   18.1   0.0  0.693  5.987  100.0  1.5888  24.0  666.0
403  24.8017  0.0   18.1   0.0  0.693  5.349   96.0  1.7028  24.0  666.0

     PTRATIO       B  LSTAT
380     20.2  396.90  17.21
418     20.2   16.45  20.62
405     20.2  384.97  22.98
410     20.2    2.60  10.11
414     20.2   88.27  36.98
404     20.2  329.46  27.38
398     20.2  396.90  30.59
427     20.2   18.82  14.52
413     20.2  210.97  20.08
417     20.2  127.36  26.64
400     20.2  396.90  26.77
403     20.2  396.90  19.77

#### 121-03 특정 위치 데이터 찾기

In [ ]:
crim_value = df.iloc[9, 0]
print(crim_value)

25.9406

#### 121-04 특정 위치 데이터 변경하기

In [ ]:
df.iloc[:10, 0] = crim_value
print(df.head(12))

        CRIM   ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
380  25.9406  0.0   18.1   0.0  0.671  6.968   91.9  1.4165  24.0  666.0
418  25.9406  0.0   18.1   0.0  0.679  5.957  100.0  1.8026  24.0  666.0
405  25.9406  0.0   18.1   0.0  0.693  5.683  100.0  1.4254  24.0  666.0
410  25.9406  0.0   18.1   0.0  0.597  5.757  100.0  1.4130  24.0  666.0
414  25.9406  0.0   18.1   0.0  0.693  4.519  100.0  1.6582  24.0  666.0
404  25.9406  0.0   18.1   0.0  0.693  5.531   85.4  1.6074  24.0  666.0
398  25.9406  0.0   18.1   0.0  0.693  5.453  100.0  1.4896  24.0  666.0
427  25.9406  0.0   18.1   0.0  0.679  6.202   78.7  1.8629  24.0  666.0
413  25.9406  0.0   18.1   0.0  0.597  5.155  100.0  1.5894  24.0  666.0
417  25.9406  0.0   18.1   0.0  0.679  5.304   89.1  1.6475  24.0  666.0
400  25.0461  0.0   18.1   0.0  0.693  5.987  100.0  1.5888  24.0  666.0
403  24.8017  0.0   18.1   0.0  0.693  5.349   96.0  1.7028  24.0  666.0

     PTRATIO       B  LSTAT
380     20.2  396.90  17.21
418     20.2   16.45  20.62
405     20.2  384.97  22.98
410     20.2    2.60  10.11
414     20.2   88.27  36.98
404     20.2  329.46  27.38
398     20.2  396.90  30.59
427     20.2   18.82  14.52
413     20.2  210.97  20.08
417     20.2  127.36  26.64
400     20.2  396.90  26.77
403     20.2  396.90  19.77

In [ ]:
## 참고 - loc함수를 사용하려면?
df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/201_boston.csv")

# reset_index를 해서 CRIM 내림차순으로 인덱스 번호를 매김
df = df.sort_values('CRIM', ascending=False).reset_index(drop=True) 
crim_value = df.loc[9, 'CRIM']
print(crim_value)

df.loc[:9, 'CRIM'] = crim_value
print(df.head(12))

25.9406
       CRIM   ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
0   25.9406  0.0   18.1   0.0  0.671  6.968   91.9  1.4165  24.0  666.0
1   25.9406  0.0   18.1   0.0  0.679  5.957  100.0  1.8026  24.0  666.0
2   25.9406  0.0   18.1   0.0  0.693  5.683  100.0  1.4254  24.0  666.0
3   25.9406  0.0   18.1   0.0  0.597  5.757  100.0  1.4130  24.0  666.0
4   25.9406  0.0   18.1   0.0  0.693  4.519  100.0  1.6582  24.0  666.0
5   25.9406  0.0   18.1   0.0  0.693  5.531   85.4  1.6074  24.0  666.0
6   25.9406  0.0   18.1   0.0  0.693  5.453  100.0  1.4896  24.0  666.0
7   25.9406  0.0   18.1   0.0  0.679  6.202   78.7  1.8629  24.0  666.0
8   25.9406  0.0   18.1   0.0  0.597  5.155  100.0  1.5894  24.0  666.0
9   25.9406  0.0   18.1   0.0  0.679  5.304   89.1  1.6475  24.0  666.0
10  25.0461  0.0   18.1   0.0  0.693  5.987  100.0  1.5888  24.0  666.0
11  24.8017  0.0   18.1   0.0  0.693  5.349   96.0  1.7028  24.0  666.0

    PTRATIO       B  LSTAT
0      20.2  396.90  17.21
1      20.2   16.45  20.62
2      20.2  384.97  22.98
3      20.2    2.60  10.11
4      20.2   88.27  36.98
5      20.2  329.46  27.38
6      20.2  396.90  30.59
7      20.2   18.82  14.52
8      20.2  210.97  20.08
9      20.2  127.36  26.64
10     20.2  396.90  26.77
11     20.2  396.90  19.77

#### 121-05 조건부 평균 계산하기

In [ ]:
rst_df = df[df['AGE'] >= 80]
result = rst_df['CRIM'].mean()
print(result)

5.759386625

In [ ]:
## 전체 풀이 코드

import pandas as pd

df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/201_boston.csv")

df = df.sort_values('CRIM', ascending=False)
crim_value = df.iloc[9, 0]
df.iloc[:10, 0] = crim_value
rst_df = df[df['AGE'] >= 80]

result = rst_df['CRIM'].mean()

print(result) # 최종 결과값만 print되도록 해야 합니다.

5.759386625

### (2) 두번째 문제

#### 122-01 데이터 불러오기

In [18]:
import pandas as pd
import numpy as np

df = pd.read_csv("../datasets/Part3/202_housing.csv")
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [19]:
temp = df.iloc[:int(len(df) * 0.8)]

In [21]:
np.abs(temp['total_bedrooms'].std() - temp['total_bedrooms'].replace(np.nan, temp['total_bedrooms'].median()).std())

1.9751472916456692

#### 122-02 데이터 추출하기

In [ ]:
value = int(len(df) * 0.8)
rst_df = df.loc[:value-1, 'total_bedrooms']
# rst_df = df.iloc[:value]['total_bedrooms']와 동일합니다. 
print(rst_df)

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
16507     599.0
16508     331.0
16509     411.0
16510     941.0
16511     417.0
Name: total_bedrooms, Length: 16512, dtype: float64

#### 122-03 표준편차, 중앙값 계산하기

In [ ]:
std1 = rst_df.std()
med = rst_df.median()
print(std1, med)

435.90057705252616 436.0

#### 122-04 결측값 채우기 & 표준편차 계산하기

In [ ]:
rst_df_fillna = rst_df.fillna(med)
std2 = rst_df_fillna.std()
print(std2)

433.9254297608805

#### 122-05 결과 출력하기

In [ ]:
result = abs(std1 - std2)
print(result)

1.9751472916456692

In [ ]:
## 전체 풀이 코드

import pandas as pd

df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/202_housing.csv")

value = int(len(df) * 0.8)
rst_df = df.loc[:value-1, 'total_bedrooms']
std1 = rst_df.std()
med = rst_df.median()
rst_df_fillna = rst_df.fillna(med)
std2 = rst_df_fillna.std()

result = abs(std1 - std2)

print(result) # 최종 결과값만 print되도록 해야 합니다.

1.9751472916456692

### (3) 세번째 문제

#### 123-01 데이터 불러오기

In [22]:
import pandas as pd

df = pd.read_csv("../datasets/Part3/203_housing.csv")
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [24]:
np.sum(df[(df['population'] > df['population'].mean() + df['population'].std() * 1.5) | (df['population'] < df['population'].mean() - df['population'].std() * 1.5)]['population'])

5607295.0

#### 123-02 평균, 표준편차 계산하기

In [ ]:
mean = df['population'].mean()
std = df['population'].std()

print("평균 : ", mean)
print("표준편차 : ", std)

평균 :  1425.4767441860465
표준편차 :  1132.462121765341

#### 123-03 이상값 임계치 계산하기

In [ ]:
lower = mean - (std * 1.5)
upper = mean + (std * 1.5)

print("정상범위 최소값 : ", lower)
print("정상범위 최대값 : ", upper)

정상범위 최소값 :  -273.2164384619648
정상범위 최대값 :  3124.169926834058

#### 123-04 이상값 데이터 추출하기

In [ ]:
rst_df = df.loc[(df['population']<lower)|(df['population']>upper), 'population']
print(rst_df)

95       3469.0
185      4367.0
283      4985.0
460      3337.0
485      3276.0
          ...
20543    3717.0
20544    6330.0
20563    6837.0
20604    3265.0
20629    6912.0
Name: population, Length: 1207, dtype: float64

#### 123-05 결과 출력하기

In [ ]:
result = rst_df.sum()
print(result)

5607295.0

In [ ]:
## 전체 풀이 코드

import pandas as pd

df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/203_housing.csv")

mean = df['population'].mean()
std = df['population'].std()
lower = mean - (std * 1.5)
upper = mean + (std * 1.5)
rst_df = df.loc[(df['population']<lower)|(df['population']>upper), 'population']

result = rst_df.sum()

print(result) # 최종 결과값만 print되도록 해야 합니다.

5607295.0

## 3. 작업형 제2유형

### (1) 사전 준비

#### 131-01. 데이터 불러오기

In [29]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler, LabelEncoder

X_test = pd.read_csv("../datasets/Part3/204_x_test.csv")
X_train = pd.read_csv("../datasets/Part3/204_x_train.csv")
y_train = pd.read_csv("../datasets/Part3/204_y_train.csv")

COL_NUM = ['Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases', 'Discount_offered', 'Weight_in_gms']
COL_CAT = ['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender']

X = pd.concat([X_train, X_test])

for cat in COL_CAT:
    le = LabelEncoder()
    le.fit(X[cat])
    X_train[cat] = le.transform(X_train[cat])
    X_test[cat] = le.transform(X_test[cat])

scaler = StandardScaler()
scaler.fit(X[COL_NUM])
X_train[COL_NUM] = scaler.transform(X_train[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

rf = RandomForestRegressor()
rf.fit(X_train, y_train['Reached.on.Time_Y.N'])
pred = rf.predict(X_test)

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
pd.DataFrame({'index': X_test.index, 'y_pred': pred}).to_csv('003000000.csv', index=False)

In [ ]:
print(X_train.head())

      ID Warehouse_block Mode_of_Shipment  Customer_care_calls  \
0   9902               F             Ship                    3
1   9501               A             Ship                    4
2   6111               A             Ship                    4
3    588               F             Ship                    3
4  10806               F             Road                    5

   Customer_rating  Cost_of_the_Product  Prior_purchases Product_importance  \
0                5                  214                2             medium
1                2                  201                3             medium
2                2                  264                3                low
3                5                  194                2             medium
4                5                  269                5             medium

  Gender  Discount_offered  Weight_in_gms
0      F                 6           4578
1      F                 4           4613
2      M                10           5137
3      M                 4           3496
4      F                 3           1120

In [ ]:
print(y_train.head())

      ID  Reached.on.Time_Y.N
0   9902                    0
1   9501                    0
2   6111                    1
3    588                    1
4  10806                    0

In [ ]:
print(X_test.head())

      ID Warehouse_block Mode_of_Shipment  Customer_care_calls  \
0   7007               C             Ship                    4
1   9793               D             Ship                    4
2   6593               C           Flight                    7
3  10527               A             Road                    4
4   6914               F             Ship                    5

   Customer_rating  Cost_of_the_Product  Prior_purchases Product_importance  \
0                1                  238                3               high
1                2                  245                3             medium
2                4                  272                4                low
3                1                  204                6                low
4                5                  256                5             medium

  Gender  Discount_offered  Weight_in_gms
0      F                 4           4910
1      M                 1           4731
2      M                 3           1805
3      M                 1           4943
4      M                 2           1693

### (2) 데이터 전처리

#### 132-01. 데이터 확인하기

In [ ]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6599 entries, 0 to 6598
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6599 non-null   int64
 1   Warehouse_block      6599 non-null   object
 2   Mode_of_Shipment     6599 non-null   object
 3   Customer_care_calls  6599 non-null   int64
 4   Customer_rating      6599 non-null   int64
 5   Cost_of_the_Product  6599 non-null   int64
 6   Prior_purchases      6599 non-null   int64
 7   Product_importance   6599 non-null   object
 8   Gender               6599 non-null   object
 9   Discount_offered     6599 non-null   int64
 10  Weight_in_gms        6599 non-null   int64
dtypes: int64(7), object(4)
memory usage: 567.2+ KB
None

In [ ]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6599 entries, 0 to 6598
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6599 non-null   int64
 1   Reached.on.Time_Y.N  6599 non-null   int64
dtypes: int64(2)
memory usage: 103.2 KB
None

In [ ]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4400 entries, 0 to 4399
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4400 non-null   int64
 1   Warehouse_block      4400 non-null   object
 2   Mode_of_Shipment     4400 non-null   object
 3   Customer_care_calls  4400 non-null   int64
 4   Customer_rating      4400 non-null   int64
 5   Cost_of_the_Product  4400 non-null   int64
 6   Prior_purchases      4400 non-null   int64
 7   Product_importance   4400 non-null   object
 8   Gender               4400 non-null   object
 9   Discount_offered     4400 non-null   int64
 10  Weight_in_gms        4400 non-null   int64
dtypes: int64(7), object(4)
memory usage: 378.2+ KB
None

#### 132-02. 변수별 결측치 수 확인

In [ ]:
X_train.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [ ]:
X_test.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [ ]:
y_train.isnull().sum()

ID                     0
Reached.on.Time_Y.N    0
dtype: int64

#### 132-03. 변수 구분

In [ ]:
# ID: 불필요한 변수
# Customer_care_calls, Customer_rating, Cost_of_the_Product, Prior_purchases, Discount_offered, Weight_in_gms: 수치형 변수
# Warehouse_block, Mode_of_Shipment, Product_importance, Gender: 범주형 변수
# Reached.on.Time_Y.N: 종속 변수

COL_DEL = ['ID']
COL_NUM = ['Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases', \
           'Discount_offered', 'Weight_in_gms']
COL_CAT = ['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender']
COL_Y = ['Reached.on.Time_Y.N']

### (3) 데이터 모형 구축

#### 133-01. 데이터 분할

In [ ]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[COL_NUM+COL_CAT]
                                            , y_train[COL_Y].values.ravel()
                                            , test_size=0.3
                                            , stratify=y_train[COL_Y].values.ravel())

In [ ]:
print(X_tr.head())

      Customer_care_calls  Customer_rating  Cost_of_the_Product  \
1229                    4                3                  273
5911                    3                3                  192
4803                    4                5                  243
6331                    3                4                  180
5237                    6                2                  137

      Prior_purchases  Discount_offered  Weight_in_gms Warehouse_block  \
1229                2                43           3462               F
5911                3                 1           4180               F
4803                3                 2           4909               A
6331                3                 2           5659               C
5237               10                 5           4510               C

     Mode_of_Shipment Product_importance Gender
1229             Ship               high      M
5911             Ship                low      F
4803             Ship                low      F
6331             Ship                low      M
5237             Road                low      F

In [ ]:
print(y_tr)

[1 1 0 ... 0 0 1]

#### 133-02. 수치형 변수 - 데이터 스케일링

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])

X_tr[COL_NUM]   = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM]  = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [ ]:
print(X_tr[COL_NUM].head())

      Customer_care_calls  Customer_rating  Cost_of_the_Product  \
1229            -0.051519         0.012806             1.315600
5911            -0.932880         0.012806            -0.360199
4803            -0.051519         1.421203             0.694934
6331            -0.932880         0.717004            -0.608465
5237             1.711202        -0.691392            -1.498087

      Prior_purchases  Discount_offered  Weight_in_gms
1229        -1.024186          1.851550      -0.108082
5911        -0.370862         -0.766447       0.332449
4803        -0.370862         -0.704114       0.779729
6331        -0.370862         -0.704114       1.239894
5237         4.202400         -0.517114       0.534921

#### 133-03. 범주형 변수 - 데이터 인코딩

In [ ]:
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train[COL_CAT], X_test[COL_CAT]])

for col in COL_CAT:
  le = LabelEncoder()
  le.fit(X[col])
  X_tr[col] = le.transform(X_tr[col])
  X_val[col] = le.transform(X_val[col])
  X_test[col] = le.transform(X_test[col])

  # 각 변수의 클래스 확인
  print(col)
  print(le.classes_)
  print('\n')

Warehouse_block
['A' 'B' 'C' 'D' 'F']


Mode_of_Shipment
['Flight' 'Road' 'Ship']


Product_importance
['high' 'low' 'medium']


Gender
['F' 'M']

In [ ]:
print(X_tr[COL_CAT].head())

      Warehouse_block  Mode_of_Shipment  Product_importance  Gender
1229                4                 2                   0       1
5911                4                 2                   1       0
4803                0                 2                   1       0
6331                2                 2                   1       1
5237                2                 1                   1       0

#### 333-04. 모형 학습

In [ ]:
## 1) 랜덤 포레스트
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier(random_state=123)
modelRF.fit(X_tr, y_tr)

## 2) XGBoost
from xgboost import XGBClassifier
modelXGB = XGBClassifier(random_state=123)
modelXGB.fit(X_tr, y_tr)

XGBClassifier(random_state=123)

### (4) 데이터 모형 평가

#### 134-01. 검증 데이터로 예측값 생성

In [ ]:
y_val_predRF = modelRF.predict_proba(X_val)[:, 1]
y_val_predXGB = modelXGB.predict_proba(X_val)[:, 1]

#### 134-02. 평가지표 구하기

In [ ]:
## 답안 채점 기준인 roc_auc 사용
from sklearn.metrics import roc_auc_score

scoreRF = roc_auc_score(y_val, y_val_predRF)
scoreXGB = roc_auc_score(y_val, y_val_predXGB)

print('Random Forest: \t', scoreRF)
print('XGBoost: \t', scoreXGB)

Random Forest: 	 0.7245434864657413
XGBoost: 	 0.7366019744793456

#### 134-03. 학습, 검증 성능 확인 함수

In [ ]:
def get_scores(model, X_tr, X_val, y_tr, y_val):

  y_tr_pred = model.predict_proba(X_tr)[:, 1]
  y_val_pred = model.predict_proba(X_val)[:, 1]
  tr_score = roc_auc_score(y_tr, y_tr_pred)
  val_score = roc_auc_score(y_val, y_val_pred)

  return f'train: {round(tr_score, 4)}, valid: {round(val_score, 4)}'

In [ ]:
print('Random Forest \t-', get_scores(modelRF, X_tr, X_val, y_tr, y_val))
print('XGBoost \t-', get_scores(modelXGB, X_tr, X_val, y_tr, y_val))

Random Forest 	- train: 1.0, valid: 0.7245
XGBoost 	- train: 0.8161, valid: 0.7366

#### 134-04. 하이퍼 파라미터 튜닝

In [ ]:
modelXGB2 = XGBClassifier(n_estimators=30, max_depth=3, min_child_weight=1, random_state=123)
modelXGB2.fit(X_tr, y_tr)

modelXGB3 = XGBClassifier(n_estimators=30, max_depth=5, min_child_weight=1, random_state=123)
modelXGB3.fit(X_tr, y_tr)

modelXGB4 = XGBClassifier(n_estimators=50, max_depth=3, min_child_weight=1, random_state=123)
modelXGB4.fit(X_tr, y_tr)

modelXGB5 = XGBClassifier(n_estimators=50, max_depth=5, min_child_weight=1, random_state=123)
modelXGB5.fit(X_tr, y_tr)

print('XGBoost2 \t-', get_scores(modelXGB2, X_tr, X_val, y_tr, y_val))
print('XGBoost3 \t-', get_scores(modelXGB3, X_tr, X_val, y_tr, y_val))
print('XGBoost4 \t-', get_scores(modelXGB4, X_tr, X_val, y_tr, y_val))
print('XGBoost5 \t-', get_scores(modelXGB5, X_tr, X_val, y_tr, y_val))

XGBoost2 	- train: 0.7744, valid: 0.7464
XGBoost3 	- train: 0.836, valid: 0.7363
XGBoost4 	- train: 0.7822, valid: 0.7446
XGBoost5 	- train: 0.8555, valid: 0.7375

#### 134-05. 최종 결과값 생성

In [ ]:
pred = modelXGB2.predict_proba(X_test[COL_NUM+COL_CAT])[:, 1]
result = pd.DataFrame({'ID': X_test.ID, 'pred': pred})
print(result.head())

      ID      pred
0   7007  0.479245
1   9793  0.451238
2   6593  0.478874
3  10527  0.409022
4   6914  0.486240

In [ ]:
## 최종 결과 확인 후 to_csv 함수로 제출
# result.to_csv('003000000.csv', index=False)